<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        table tbody td a {
            text-decoration: none;
            font-size: larger;
            font-weight: 500;
        }
    
        .table>:not(caption)>*>* {
            border-bottom-width: 0px !important;
        }
    </style>
</head>
<body>
    <table style="margin-top: 3px;" class="table table-dark table-striped">
        <thead>
            <tr>
                <th colspan="2">Database</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="">Category List</a></td>
            </tr>
            <tr>
                <td><a href="">Book List</a></td>
            </tr>
            <tr>
                <td><a href="">Book Author List</a></td>
            </tr>
            <tr>
                <td><a href="">Author List</a></td>
            </tr>
            <tr>
                <td><a href="">Member List</a></td>
            </tr>
            <tr>
                <td><a href="">Member Status List</a></td>
            </tr>
            <tr>
                <td><a href="">Book Lend List</a></td>
            </tr>
            <tr>
                <td><a href="">Reservation List</a></td>
            </tr>
            <tr>
                <td><a href="">Reservation Status List</a></td>
            </tr>
            <tr>
                <td><a href="">Fine List</a></td>
            </tr>
            <tr>
                <td><a href="">Late List</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>